@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,700;1,700&display=swap');
.landerText {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landerTextEmphasis {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
}
.text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between; /* pushes logo left, links right */
  align-items: center;            /* vertically center */
  padding: 1rem 1rem;
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;      /* space between items */
  list-style: none;
}

/* HERO SECTION */
.lander {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
