@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,700;1,700&display=swap');
.landerText {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landerTextEmphasis {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
}
.text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between; /* pushes logo left, links right */
  align-items: center;            /* vertically center */
  padding: 1rem 1rem;
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 2rem;      /* space between items */
  list-style: none;
}

/* HERO SECTION */
.lander {
  /* 1. Set the background */
  background-image: url('/lander.png');
  background-size: cover;      /* Scales the image to fill the area */
  background-position: center; /* Keeps the focus in the middle */
  background-repeat: no-repeat;
  
  /* 2. Set the height */
  min-height: 87.5vh;            /* 87.5% of the screen height */
  width: 100%;

  /* 3. Center the text using felxy */
  display: flex;
  flex-direction: column;      /* Stacks lines vertically */
  justify-content: center;     /* Centers vertically */
  align-items: center;         /* Centers horizontally */
  
  text-align: center;
  color: white;                /*  text stands out */
}

/*easyread darkness*/
.lander {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/lander.png');
}
