@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
html {
    font-family: "Inter", sans-serif;
}
body {
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    transition: 0.4s;
    color: black;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 4px;
    padding: 40px 40px 40px 40px;
}

h2 {
    font-size: 25px;
    line-height: 1.5;
    padding: 0px 40px 0px 40px;
}
li {
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 40px 0px 40px;
}
pre {
    font-size: 14px;
    line-height: 1.5;
}
p {
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 40px 0px 40px;
}
tr {
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 40px 0px 40px;
}
a {
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 40px 0px 40px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 40px 20px
    align-self: end;
    text-align: center;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 20px 60px 4px;
    font-family: "Inter", sans-serif;
}
/*button style class name button14*/
.button14 {
    width: 96px;
    height: 48px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-color: #262626;
    border-radius: 15px;
    outline: none;
    border: none;
    transition: all 0.3s ease 0s;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2rem;      /* space between items */
    list-style: none;
}
.button14:hover {
    background-color: #3838ff;
    color: #fff;
    transform: translateY(-7px);
}
.button14:active {
    transform: translateY(-1px);
}
